.flexContainer{
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
}

.modal{
    z-index: 1;
    position: absolute;
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    background: #2f2f2fbf;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 360px){
   

}
/* media queries */
/* ._flexContainer_2kk37_1
display: none;
._createnewgrppop_1m7ev_1
width: fit-content;
._flexContainer_sthuj_45
width: 100%;
._btn_sthuj_81
top: 190vmin;
left: 270px;

._groupNotes_cprzh_3
font-size: x-large;
._heading_sthuj_23
font-size: xx-large; */